In [1]:
#Ans 1:- 
# For loop is used when we need to iterate by a certain number
# example of for loop
# if an list "L" has [1,2,3,4,5,6]
L=[1,2,3,4,5,6]
# and we want to iterate through each element then code will be:
for i in L:
    print(i)

1
2
3
4
5
6

In [2]:
# while loop is used when number of iterations is unknown.
# And when we want to repeat some task untill certain condition is met true.
# for example:
# If we want to print numbers from 5 to 10 then code will be:
n=5
while(n<11):
    print(n)
    n+=1

5
6
7
8
9
10

In [13]:
#Ans 2;-
# python program for printing the sum of first 10 natural numbers
sum=1
for i in range(1,11):
    sum+=i
print(sum)

56

In [11]:
# python program for printing the product of first 10 natural numbers.
product=1
for i in range(1,11):
    product*=i
print(product)

3628800

In [24]:
#Ans 3:-
#taking unit as input
units=int(input("Enter the number of units: "))
if (units<101):
    print("total: ", units*4.5)
elif (units>100 and units<201):
    total=(450+(units-100)*6)
    print("total: ", total)
elif (units>200 and units<301):
    total=(450+600+(units-200)*10)
    print("total: ", total)
elif (units>300):
    total=(450+600+1000+(units-300)*20)
    print("total: ", total)

Enter the number of units:  356

total:  3170

In [39]:
#Ans 4: 
l=list(range(1,101))
#using for loop 
lst=[]
for i in l:
    cube=i*i*i
    if (cube%4==0 or cube%5==0):
        lst.append(i)
#printing list
print(lst)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [42]:
#using while loop 
l=list(range(1,101))
lst=[]
i=0
while(i<len(l)):
    cube=l[i]*l[i]*l[i]
    if (cube%4==0 or cube%5==0):
        lst.append(l[i])
    i+=1
#printing list
print(lst)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [46]:
#Ans 5:
string="i want to become a data scientist"
count=0
lst=['a','e','i','o','u']
for i in string:
    if(i in lst):
        count+=1
        
print(count)

12